doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='icon', href='/images/favicon.ico',type='image/x-icon')

 body
   block content
   .main
     .headlinebox
       img(class="ribbon", src="/images/ribbonl.png")
       h1(class='headline') pumpbridge.<br>connecting social networks
     form(action='/login', method='post')
       |Login with your pump.io account (WebFinger ID) to get started.
       br
       |(No pump.io account yet? <a href="http://pump.io/tryit">Try it</a>!)
       br
       input(class='login',id='webfinger',name='webfinger',size=30,type='text',placeholder='user@server.example')
       br
       br
       input(type='submit',class='btn btn-primary',value='Login')
       br
       br
 .footer
   p.
     <a href=https://wald.intevation.org/hg/pumpbridge/>pumpbridge</a> is Free Software and available under the Apache License 2.0.
     <br>
     visit <a href=https://wald.intevation.org/projects/pumpbridge/>https://wald.intevation.org/projects/pumpbridge</a> for more information!
     <br>
     pumpbridge is hosted and operated by <a href=https://io.intevation.de/mgebbe>Mathias Gebbe</a> <a href=/contact.html>(Contact)</a>
