body {
  background-image:url("/images/grey_wash_wall.png");
  background-repeat:repeat;
  text-align: left;
  padding-top: 80px;
  color: silver;
  font: 16x "Lucida Grande", Helvetica, Arial, sans-serif!important;
}

a {
 color: #00FF00!important;
}

h2, h3, h4, h5, h6 {
 color: silver!important;
}

.login {
 font: 16x "Lucida Grande", Helvetica, Arial, sans-serif!important;
 color: black!important; 
}

#gp, #tw, #fb{
 margin: 10px;
 display: inline-block;
 border-color: grey;
 border-style: dotted;
 border-width: 1px;
 font-size: 14px;
 text-align: center;
}

.headlinebox {
 display: inline-block;
 position: relative;
}

.headline{
 font-size: 50px;
}

.main {
 margin-left: 80px;
 color: #efefef;
}

.login {
 color: #efefef;
}

#gp-root, #fb-root, #tw-root{
 margin: 10px;
}

#pump-root {
 color: #efefef!important;
}

.footer {
 margin-top:10px;
 margin-left:80px;
}

.footer a {
 color: silver!important; 
}

.ribbon {
 position: absolute;
 top: 0px;
 left: -40px;
}
